<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kike</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"  rel="stylesheet" />
    <link rel="stylesheet" href="/css/detail.css">
</head>
<%- include('../partials/header')%>
<h1>Detalle del Producto</h1>
<div class="container-title"><%= productFound.name %></div>
<article class="articulo_detalle">
    <main>
        <div class="container-img">
            <img class="imagen_detalle" src="/images/productsImg/<%= productFound.image %>" alt="">
        </div>
        <div class="container-info-product">
            <div class="container-price">
                <span>$ <%= productFound.price %></span>
            </div>
            <div class="description">
                <p><%= productFound.description %></p>
            </div>
            <div class="discount">
                <p><%= productFound.discount %> %</p>
            </div>
            <button id="buy-button">Comprar</button>
            <a href="/products/edit/<%= productFound.id %>" class="action-button edit">
                <button>EDITAR PRODUCTO</button>
            </a>
			<form action="/products/delete/<%= productFound.id %>?_method=DELETE" method="POST" style="display: inline-flex">
				<button type="submit" class="action-button delete">ELIMINAR</button>
			</form>
        <script>
            document.getElementById("buy-button").addEventListener("click", function() {
            // Aquí puedes agregar el código para manejar la acción de compra
            alert("Producto comprado!");
            });
        </script>
    </main>
</article>

<div style="clear: both;"></div>

<%- include('../partials/footer')%>