<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  <%- include('../partials/header')%>
  <div class="body">
    <section class="registration-form">
      <h1>Editar Producto </h1>
      <form action="/products/edit/<%= productFound.id %>?_method=PUT" method="POST" class="form_product_edit" enctype="multipart/form-data">

        <div class="input-form">
          <input type="text" name="name" value="<%= productFound.nombre  %>"><br>
          <label for="name">Nombre del producto</label>
        </div>
        
        <div class="input-form">
          <label class="label-select" for="description">Descripción</label>
          <textarea name="description"><%= productFound.description  %></textarea><br>
        </div>
        
        <div class="input-form">
          <label class="label-select" for="image-product">Imagen:</label>
          <input type="file" name="image-product"><br>
        </div>
        
        <div class="input-form">
          <label class="label-select" for="category_producto_id">Categoría de producto:</label>
          <select name="category_producto_id">
            <% for( let i = 0; i < categorias.length; i++ ) { %>
              <% if( productFound.category_producto_id == categorias[i].id){ %>
              <option value="<%= categorias[i].id %>" selected><%= categorias[i].id %> - <%=categorias[i].nombre %> </option>
              <% } else{ %>
              <option value="<%= categorias[i].id %>" ><%= categorias[i].id %> - <%=categorias[i].nombre %>
                <% } %>
            <% } %>
            </select>
        </div>
        
        <div class="input-form">
          <label class="label-select" for="type_category">Tipo de Categoría:</label>
          <select name="type_category" id="type_category" value="<%=  productFound.type_category %>">
            <% if (productFound.type_category == 'in-sale' ) { %>
            <option value="in-sale" selected>En Oferta</option>
            <option value="visited">Visitado</option>
            <% } else { %>
            <option value="in-sale">En Oferta</option>
            <option value="visited" selected>Visitado</option>
            <% } %>
          </select>
        </div>
        

        <div class="input-form">
          <input type="number" name="price" step="0.01" value="<%=  productFound.price %>"><br>
          <label for="price">Precio:</label>
        </div>
        
        <div class="input-form">
          <input type="number" name="discount" step="1" value="<%=  productFound.discount %>"><br>
          <label for="discount">Descuento:</label>
        </div>
        
        <div class="input-form">
          <input type="submit" value="Guardar">
        </div>
      </form>
    </section>
  </div>
  <%- include('../partials/footer')%>
</body>

</html>