<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    </head>
<body>
    <%- include('./partials/header')%>
    
    <main>
        <section class="img">
            <div class="galeria_fotos_fila">
                <div class="fotos_fila">
                    <div class="box_fila box_imagen_galeria_fila">
                        <img src="/images/zapatillas.jpg" alt="">
                    </div>
                </div>
                <div id="flecha_izq_fila " class="flechas_fila flecha1_fila ">
                    <img src="/images/flecha2.png " alt=" ">
                </div>
                <div id="flecha_der_fila " class="flechas_fila flecha2_fila ">
                    <img src="/images/flecha1.png " alt=" ">
                </div>
                <div class="contador_galeria_fila ">
                    <p>12/12</p>
                </div>

            </div>
        </section>
        <section class="img">
            <div class="galeria_fotos_fila">
                <div class="fotos_fila">
                    <div class="box_fila box_imagen_galeria_fila">
                        <img src="/images/zapatillas.jpg" alt="">
                    </div>
                </div>
                <div id="simbolo_play" class="flechas_fila flecha3_fila ">
                    <img src="/images/simbolo_play.png " alt=" ">
                </div>
            </div>
        </section>
        <section class="productos_oferta">
            <h2>Productos en Oferta</h2>
            <article class="articulos_oferta">
                <% products.forEach(function(elem) { %>
                    <% if (elem.type_category == 'in-sale') { %>
                    <div class="articulo_oferta">
                        <a href="products/detail/<%= elem.id %>">
                            <img class="imagen_oferta" src="/images/productsImg/<%= elem.image %>" alt="">
                            <p><b>Descripcion</b></p>
                            <p><%= elem.description %></p>
                            <p><b>Precio:</b> $ <%= elem.price %></p>
                            <p><b>Descuento:</b> $ <%= elem.discount %></p>
                            <p class="product"><b><%= elem.name %></b></p>
                        </a>
                    </div>
                    <% } %>
                <% }) %>
            </article>
        </section>
        <section class="suscripcion">
            <h2>¡Suscribete dejando tu email!</h2>
            <input type="email" placeholder="ejemplo@ejemplo.com">
            <button type="submit">Suscribirse</button>
        </section>
    

    </main>
    <span class="comment-fixed">
        <i class="far fa-comments fa-spin"></i>
    </span>
    <%- include('./partials/footer')%>
</body>
</html>