<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/home.css">

</head>

<body>
  <%- include('./partials/header')%>
  <main class="main-home">
    <div class="gif1">
    </div>
    <div class="video">
      <video poster autoplay muted loop preload="none" playsinline source src="/video/kikes.mp4" type="video/mp4" class="video-file">
      </video>
    </div>
    <div class="envoltura">
      <div class="galeria_fotos_fila">
        <div class="fotos_fila">
          <% products.forEach(function(elem) { %>
          <div class="box_fila box_imagen_galeria_fila">
            <a href="products/detail/<%= elem.id %>">
              <img class="imagen_oferta" src="/images/productsImg/<%= elem.image %>" alt="">
            </a>
          </div>
          <% }) %>
        </div>
        <div id="flecha_izq_fila " class="flechas_fila flecha1_fila ">
          <img src="/images/flecha2.png " alt=" ">
        </div>
        <div id="flecha_der_fila " class="flechas_fila flecha2_fila ">
          <img src="/images/flecha1.png " alt=" ">
        </div>
        <div class="contador_galeria_fila ">
          <p>12/12</p>
        </div>
      </div>
    </div>
    <div class="gif2">
      <div class="productos_oferta">
        <h2>Productos en Oferta</h2>
        <div class="contenedor_articulos">
          <article class="articulos_oferta">
            <% products.forEach(function(elem) { %>
            <% if (elem.type_category=='in-sale' ) { %>
            <div class="articulo_oferta">
              <a href="products/detail/<%= elem.id %>">
                <p><b>
                    <%= elem.nombre %>
                  </b></p>
                <img class="imagen_oferta" src="/images/productsImg/<%= elem.image %>" alt="">
                <!-- <p><b>Descripcion</b></p>
                                <p><%= elem.description %></p> -->
                <p><b>Precio:</b> $ <%= elem.price %>
                </p>
                <p><b>Descuento:</b> $ <%= elem.discount %>
                </p>
              </a>
            </div>
            <% } %>
            <% }) %>
          </article>
        </div>
      </div>
      <div class="suscripcion">
        <h2>¡Suscribete dejando tu email!</h2>
        <input type="email" placeholder="ejemplo@ejemplo.com">
        <button type="submit">Suscribirse</button>
      </div>
    </div>
  </main>
  <%- include('./partials/footer')%>
  <a class="comment-fixed" href="#">
    <i class="far fa-comments fa-spin"></i>
  </a>
</body>
<script src="/js/galeria_fila.js"></script>

</html>