<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
</head>
<body>
    <%- include('../partials/header')%>
    
    <section class="user-details">
        <h1>Detalles de Usuario</h1>
        <div class="user-info">
            <p><strong>Nombre:</strong> <%= user.name %></p>
            <p><strong>Correo Electrónico:</strong> <%= user.email %></p>
        </div>
    </section>
    <%- include('../partials/footer')%>
</body>
</html>