<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
</head>
<body>
    <%- include('../partials/header')%>
    
    <section class="user-details">
        <h1>Detalles de Usuario</h1>
        <div class="container" style="margin-top: 40px;">
            <div class="row">
                <div class="">
                    <h2>Nombre de usuario: <%= user.nombre %> </h2>
                    <img src="<%= user.imagen %> ">
                    <br>
                    <br>
                    <div class="">Correo: <%= user.email %> </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer')%>
</body>
</html>