<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/footer.css">
        </head>
</head>
<body>
    <%- include('../partials/header')%>
    
    <section class="edit-form">
        <h1>Editar Usuario</h1>
        <form action="/users/edit/<%= user.id %>" method="POST">

            <div class="input-form">
                <label for="name">Nombre:</label>
                <input type="text" name="name" value="<%= user.name %>" required><br>
            </div>

            <div class="input-form">
                <label for="email">Correo Electrónico:</label>
                <input type="email" name="email" value="<%= user.email %>" required><br>
            </div>

            <div class="input-form">
                <label for="password">Nueva Contraseña:</label>
                <input type="password" name="password"><br>
            </div>

            <div class="input-form">
                <button type="submit">Guardar Cambios</button>
            </div>
        </form>
    </section>
    <%- include('../partials/footer')%>
</body>
</html>
