<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <%- include('../partials/header')%>

        <div class="body">
            <section class="login-form">

                <h1>INICIO DE SESIÓN</h1>
    
                <form action="/login" method="post">
                    <div class="input-form">
                        <input type="email" id="email" name="email" placeholder=" ">
                        <label for="email">Correo Electrónico</label>
                    </div>
                    <% if(errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                    <div class="input-form">
                        <input type="password" id="contrasenia" name="contrasenia" placeholder=" ">
                        <label for="contrasenia">Contraseña</label>
                    </div>
                    <% if( errors.contrasenia) { %>
                        <div class="text-danger">
                            <%= errors.contrasenia.msg %>
                        </div>
                        <% } %>
                    <div class="recordar">Olvidé mi contraseña</div>
                    <input type="submit" value="Entrar">
                    <div class="registrarse">
                        <label for=""><input type="checkbox" name="checkbox"> Recordar mi sesión.</label>
                    </div>
                </form>
                
            </section>
        </div>
        <%- include('../partials/footer')%>
</body>

</html>