<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/footer.css">
    </head>
<body>
    <%- include('../partials/header')%>
    <div class="gif">
        <div class="body">
            <section class="registration-form">
                <h1>REGISTRO</h1>
                <form action="/register" method="POST" id="form_register" enctype="multipart/form-data">
                    <div class="input-form">
                        <input type="text" id="nombre" name="nombre" placeholder=" ">
                        <label for="nombre">Nombre</label>
                    </div>
                    <% if( errors.nombre ) { %>
                        <p class="text-danger"> <%= errors.nombre.msg %> </p>
                    <% } %>
                    <div class="input-form">
                        <input type="text" id="apellido" name="apellido" placeholder=" ">
                        <label for="apellido">Apellido</label>
                    </div>
                    <% if( errors.apellido ) { %>
                        <p class="text-danger"> <%= errors.apellido.msg %> </p>
                    <% } %>
                    <div class="input-form">
                        <input type="email" id="email" name="email" placeholder=" ">
                        <label for="email">Correo Electr칩nico</label>
                    </div>
                    <% if( errors.email ) { %>
                        <p class="text-danger"> <%= errors.email.msg %> </p>
                    <% } %>
                    <div class="input-form">
                        <input type="email" id="confirmar_email" name="confirmar_email" placeholder=" ">
                        <label for="confirmar_email">Confirmar Correo Electr칩nico</label>
                    </div>
                    <% if( errors.confirmar_email ) { %>
                        <p class="text-danger"> <%= errors.confirmar_email.msg %> </p>
                    <% } %>
                    <div class="input-form">
                        <input type="password" id="contrasenia" name="contrasenia" placeholder=" ">
                        <label for="contrasenia">Contrase침a</label>
                    </div>
                    <% if( errors.contrasenia ) { %>
                        <p class="text-danger"> <%= errors.contrasenia.msg %> </p>
                    <% } %>
                    <div class="input-form">
                        <input type="password" id="confirmar_contrasenia" name="confirmar_contrasenia" placeholder=" ">
                        <label for="confirmar_contrasenia">Confirmar Contrase침a</label>
                    </div>
                    <% if( errors.confirmar_contrasenia ) { %>
                        <p class="text-danger"> <%= errors.confirmar_contrasenia.msg %> </p>
                    <% } %>
                    <div class="input-form">
                        <label class="label-select" for="categoria">Categoria</label>
                        <select class="fecha-inputs" name="categoria">
                            <option value="Admin">Administrador</option>
                            <option value="Customer">Cliente</option>
                        </select>
                    </div>
                    <div class="input-form">
                        <label class="label-select" for="fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="date" class="fecha-inputs" name="fecha_nacimiento">
                        </input>
                    </div>
                    <div class="input-form">
                        <label class="label-select" for="sexo">Sexo</label>
                        <select class="fecha-inputs" name="sexo">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="O">Otro</option>
                        </select>
                    </div>
                    <div class="input-form">
                        <label class="label-select" for="imagen_perfil">Imagen de Perfil</label>
                        <input type="file" name="imagen_perfil" id="imagen_perfil" />         
                    </div>
                    <% if( errors.imagen_perfil ) { %>
                        <p class="text-danger"> <%= errors.imagen_perfil.msg %> </p>
                    <% } %>
        
                    <div>
                        <ul class="text-danger">
                            
                        </ul>
                    </div>
        
                    <div class="input-form">
                        <input type="submit" value="Registrarse">
                    </div>
                </form>
            </section>
        </div>
    </div>
    <%- include('../partials/footer')%>
    <script src="/js/validateRegisterUser.js"></script>
</body>
</html>
